#ignore all generated javascript files
[ABCDEFGHIJKLMONPQRSTUVWXYZ]*.js
A*.js
B*.js
C*.js
D*.js
E*.js
F*.js
G*.js
H*.js
I*.js
J*.js
K*.js
L*.js
M*.js
N*.js
O*.js
P*.js
Q*.js
R*.js
S*.js
T*.js
U*.js
V*.js
W*.js
X*.js
Y*.js
Z*.js
*.map
!app.js
