<div class="hg-explanation clearfix">
  <div class="hg-node hg-leaf" data-fqname="sample.node.com" style="opacity:1">
    <div class="hg-label hg-node-elem" style="top: 0px; left: 0px; width: 60px; height: 20.5714285714286px;">
      <span>Help</span>
    </div>

    <div class="heatmap attr-loadAverage hg-node-elem" style="left: 0px; height: 10.2857142857143px; width: 60px;">
      <div style="left: 0px; width: 5%; background-color: rgb(255, 201, 102);"></div>
      <div style="left: 3px; width: 5%; background-color: rgb(255, 201, 102);"></div>
      <div style="left: 6px; width: 5%; background-color: rgb(255, 201, 102);"></div>
      <div style="left: 9px; width: 5%; background-color: rgb(255, 201, 102);"></div>
      <div style="left: 12px; width: 5%; background-color: rgb(255, 183, 51);"></div>
      <div style="left: 15px; width: 5%; background-color: rgb(255, 183, 51);"></div>
      <div style="left: 18px; width: 5%; background-color: rgb(255, 183, 51);"></div>
      <div style="left: 21px; width: 5%; background-color: rgb(255, 183, 51);"></div>
      <div style="left: 24px; width: 5%; background-color: rgb(255, 183, 51);"></div>
      <div style="left: 27px; width: 5%; background-color: rgb(255, 183, 51);"></div>
      <div style="left: 30px; width: 5%; background-color: rgb(255, 183, 51);"></div>
      <div style="left: 33px; width: 5%; background-color: rgb(255, 183, 51);"></div>
      <div style="left: 36px; width: 5%; background-color: rgb(255, 183, 51);"></div>
      <div style="left: 39px; width: 5%; background-color: rgb(255, 189, 68);"></div>
      <div style="left: 42px; width: 5%; background-color: rgb(255, 189, 68);"></div>
      <div style="left: 45px; width: 5%; background-color: rgb(255, 189, 68);"></div>
      <div style="left: 48px; width: 5%; background-color: rgb(255, 189, 68);"></div>
      <div style="left: 51px; width: 5%; background-color: rgb(255, 189, 68);"></div>
      <div style="left: 54px; width: 5%; background-color: rgb(255, 189, 68);"></div>
      <div style="left: 57px; width: 5%; background-color: rgb(255, 189, 68);"></div>
    </div>

    <svg class="streamgraph attr-numConnections out hg-node-elem"
         style="top: 10.2857142857143px; left: 0px; width: 60px; height: 20.5714285714286px;">
      <g transform="translate(0,20.571428571428573)scale(3,1)">
        <g class="dist-2">
          <rect x="0" y="-6.857142857142858" width="1" height="6.857142857142858"></rect>
          <rect x="1" y="0" width="1" height="0"></rect>
          <rect x="2" y="-1.523809523809524" width="1" height="1.523809523809524"></rect>
          <rect x="3" y="-6.095238095238096" width="1" height="6.095238095238096"></rect>
          <rect x="4" y="0" width="1" height="0"></rect>
          <rect x="5" y="-6.857142857142858" width="1" height="6.857142857142858"></rect>
          <rect x="6" y="0" width="1" height="0"></rect>
          <rect x="7" y="0" width="1" height="0"></rect>
          <rect x="8" y="-3.047619047619048" width="1" height="3.047619047619048"></rect>
          <rect x="9" y="-9.904761904761905" width="1" height="9.904761904761905"></rect>
          <rect x="10" y="-6.857142857142858" width="1" height="6.857142857142858"></rect>
          <rect x="11" y="0" width="1" height="0"></rect>
          <rect x="12" y="0" width="1" height="0"></rect>
          <rect x="13" y="0" width="1" height="0"></rect>
          <rect x="14" y="-0.761904761904762" width="1" height="0.761904761904762"></rect>
          <rect x="15" y="-17.523809523809526" width="1" height="17.523809523809526"></rect>
          <rect x="16" y="0" width="1" height="0"></rect>
          <rect x="17" y="0" width="1" height="0"></rect>
          <rect x="18" y="0" width="1" height="0"></rect>
          <rect x="19" y="0" width="1" height="0"></rect>
        </g>
      </g>
    </svg>

    <svg class="streamgraph attr-numConnections in hg-node-elem"
         style="top: 51.4285714285714px; left: 0px; width: 60px; height: 20.5714285714286px;">
      <g transform="scale(3,1)">
        <g class="dist-2">
          <rect x="0" y="0" width="1" height="3.8095238095238098"></rect>
          <rect x="1" y="0" width="1" height="2.2857142857142856"></rect>
          <rect x="2" y="0" width="1" height="2.2857142857142856"></rect>
          <rect x="3" y="0" width="1" height="3.047619047619048"></rect>
          <rect x="4" y="0" width="1" height="2.2857142857142856"></rect>
          <rect x="5" y="0" width="1" height="2.2857142857142856"></rect>
          <rect x="6" y="0" width="1" height="3.8095238095238098"></rect>
          <rect x="7" y="0" width="1" height="2.2857142857142856"></rect>
          <rect x="8" y="0" width="1" height="3.047619047619048"></rect>
          <rect x="9" y="0" width="1" height="2.2857142857142856"></rect>
          <rect x="10" y="0" width="1" height="2.2857142857142856"></rect>
          <rect x="11" y="0" width="1" height="2.2857142857142856"></rect>
          <rect x="12" y="0" width="1" height="3.8095238095238098"></rect>
          <rect x="13" y="0" width="1" height="2.2857142857142856"></rect>
          <rect x="14" y="0" width="1" height="0"></rect>
          <rect x="15" y="0" width="1" height="0"></rect>
          <rect x="16" y="0" width="1" height="0"></rect>
          <rect x="17" y="0" width="1" height="0.761904761904762"></rect>
          <rect x="18" y="0" width="1" height="1.523809523809524"></rect>
          <rect x="19" y="0" width="1" height="0"></rect>
        </g>
      </g>
    </svg>
  </div>

</div>
