<div class="btn-group-vertical" role="group">
  <a class="btn btn-default active" href="#thermalplot_tab" ng-click="switchTab($event);activateTab($event)" title="Switch to ThermalPlot" style="padding: 6px 8px;"><img src="./images/thermalplot-logo_dark.svg" width="22" height="18" style="width:auto;height:18px;"><span class="sr-only">&nbsp; ThermalPlot</span></a>
  <a class="btn btn-default" href="#linechart_tab" ng-click="switchTab($event);activateTab($event)" title="Switch to Line Chart"><i class="fa fa-line-chart"></i><span class="sr-only">&nbsp; Line Chart</span></a>
</div>
<!-- Trajectories are disabled, because WebGL support is broken in Chrome 54 -> see ThermalLayout.ts -->
<!--
<hr>
<div class="btn-group-vertical" role="group">
  <button class="btn btn-default" data-infra-id="ts" ng-class="{active: showTrajectories === true}" ng-click="toggleTrajectories($event)" title="Toggle trajectory for selected items" style="padding: 6px 6px;"><img src="./images/button-toggle-trajectories.svg" width="22" height="18" style="width:auto;height:22px;"><span class="sr-only">&nbsp; Toggle trajectory for selected items</span></button>
</div>
-->